* {
  margin: 20;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

h1::before {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background-color: black;
  margin: 0 auto;
}

li::after {
    content: "⭐";
}