* {
  margin: 20;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-size: 2rem;
}

h1::before {
  content: "";
  display: block;
  width: 600px;
  height: 4px;
  background-color: orange;
  margin: 0 auto;
}

li::after{
    content: "⭐";
}

li:nth-child(odd) {
    color: aqua;
}

.Btn::hover [
    
]